body{
	background: url(paisley.png); 
}

.page-wrapper {
	position: relative;
	margin: 85px auto 0 auto;
	width: 750px;
	font-size: .75em;
}

.password-form  {
	border-radius: 32px;
	background: rgba(122, 122, 122, .53);
	padding-top: 5px;
	position: relative;
	width: 350px;
	text-align:center;
	margin: 0 auto 0 auto;
}

#passcheck  {
	color: red;
}

#mailcheck  {
	color: red;
}
.passwordRules  {
	border-radius: 35px;
	background: rgba(122, 122, 122, .53);
	padding-top: 6px;
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
	width: 350px;
	text-align:center;
	margin: 0 auto 0 auto;
}